# gitignore
# Exclude assets (images, audio, etc.)
assets/
py_txt/
dist/

# Exclude YOLO model weights
*.pt

# Exclude py_txt folder (text artifacts)
source/py_txt/

# Exclude Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Exclude virtual environments
venv/
.venv/

# Exclude macOS system files
.DS_Store

# Exclude logs or temp files
*.log
*.tmp


# Exclude strava config file 
source/strava/strava_config.py

# Exclude garmin credential file 
source/garmin/garmin_credentials.py

# Ignore specific root scripts
copy_rename.py
diagnose_csv.py
diagnose_enrich.py
