# gitignore
# Exclude folder
assets/
py_txt/
dist/
build/

# Exclude virtual environments
venv/
.venv/

# Exclude YOLO model weights
*.pt


# Exclude Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Exclude macOS system files
.DS_Store

# Exclude logs or temp files
*.log
*.tmp

# Exclude strava config file 
source/strava/strava_config.py

# Exclude garmin credential file 
source/garmin/garmin_credentials.py

# Ignore specific root scripts
copy_rename.py

